@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Manrope:300,400,600,700);

html {
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
}

h1 {
    font-weight: 200;
    font-size: 1.4em;
}

h3 {
    font-weight: 300;
    font-size: 1.4em;
    margin: 0;
}

h4 {
    font-weight: 300;
    font-size: 1.3em;
    margin: 0;
}

#Header {
    border-bottom: 1px solid lightgrey;
}

#Itinerary, #Footer, #Errata, #Social, #Enquiry, .social-inner, #quote-header {
    max-width: 1200px;
    margin: 0 auto;
    border: 0;
}

#Footer {
    margin-top: 20px;
}

.grid-container-header {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 10px;
}

.nav-label, .nav-sub-label, a.dropdown-toggle {
    font-size: 0.9rem;
}

.sidebar-navigation .branding-label {
    font-size: 1.35rem;
}

.overview-container-avatar {
    display: grid;
    grid-template-columns: 80px auto;
}

    .overview-container-avatar .avatar {
        margin: 10px;
    }

        .overview-container-avatar .avatar img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }

    .overview-container-avatar .contact-details {
        font-size: 1.4rem;
        margin: 20px;
    }

.overview-container-no-avatar {
    display: grid;
    grid-template-columns: auto;
}

    .overview-container-no-avatar .avatar {
        margin: 25px 10px 0 0;
    }

        .overview-container-no-avatar .avatar img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }

    .overview-container-no-avatar .contact-details {
        font-size: 1.4rem;
        margin: 20px;
    }

.overview-container-avatar-email {
    display: grid;
    grid-template-columns: 80px auto;
}

    .overview-container-avatar-email .avatar {
        margin: 10px 20px 10px 10px;
    }

        .overview-container-avatar-email .avatar img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }

    .overview-container-avatar-email .contact-details {
        font-size: 1.5rem;
        text-align: left;
        margin-right: 10px;
        margin-top: 10px;
        line-height: 1.8rem;
        font-weight: 200;
        margin-left: 20px;
    }

.overview-container-no-avatar-email {
    display: grid;
    grid-template-columns: auto;
}

    .overview-container-no-avatar-email .contact-details {
        font-size: 1.5rem;
        text-align: left;
        margin-right: 10px;
        margin-top: 10px;
        line-height: 1.8rem;
        font-weight: 200;
        margin-left: 20px;
    }

.grid-container-hero {
    display: grid;
    grid-template-columns: auto;
}

#preview-logo {
    margin: 20px;
    max-width: 450px;
}

#preview-banner {
    width: 100%;
    min-height: 100%;
}

#QuoteDetails {
    margin-top: 10px;
}

#EnquiryAdminArea {
    margin-top: 20px;
}

#Introduction {
    margin-top: 20px;
}

#Overview {
    margin-top: 20px;
    border-radius: 10px;
}

#Highlights {
    margin-top: 20px;
}

.grid-container-title {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}

    .grid-container-title .item {
        font-weight: 300;
    }

    .grid-container-title .details {
        font-size: 2.2rem;
        line-height: 3rem;
        font-weight: 200;
        text-align: left;
        margin: 25px 0;
    }

.grid-container-quote-header {
    display: grid;
    grid-template-columns: 50% auto;
    padding: 0;
}

.quote-title {
    font-size: 2rem;
}

.grid-container-overview {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    border-radius: 20px;
    background-color: grey;
    color: white;
}

    .grid-container-overview .item {
        font-weight: 200;
    }

    .grid-container-overview .details {
        font-size: 2.2rem;
        font-weight: 200;
        text-align: right;
        margin: 25px;
    }

        .grid-container-overview .details .passengers {
            font-size: 1.2rem;
            display: block;
        }

        .grid-container-overview .details .quotenumber {
            font-size: 1.2rem;
        }

        .grid-container-overview .details .depositnumber {
            font-size: 1.2rem;
            margin-top: 10px;
            font-weight: 600;
        }

.grid-container-social {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    font-weight: 200;
    width: 100%;
    justify-content: flex-end;
}

    .grid-container-social .item {
        padding-top: 10px;
    }

    .grid-container-social .functions {
        text-align: center;
    }

    .grid-container-social .social-icon {
        padding: 10px;
        font-size: 20px;
        margin: 5px 2px;
        min-width: 40px;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        background-color: grey;
    }

        .grid-container-social .social-icon:hover {
            opacity: 0.7;
        }

    .grid-container-social .functions {
        text-align: right;
    }

.grid-container-social-email {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}

    .grid-container-social-email .item {
        padding: 5px 10px;
    }

    .grid-container-social-email .social-icon {
        padding: 7px;
        font-size: 15px;
        margin: 5px 2px;
        min-width: 30px;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        background-color: grey;
    }

        .grid-container-social-email .social-icon:hover {
            opacity: 0.7;
        }

.grid-container-introduction {
    display: grid;
    grid-template-columns: auto;
    font-weight: 300;
    line-height: 1.5rem;
}

    .grid-container-introduction .item {
        font-weight: 300;
        padding: 20px;
        line-height: 1.5rem;
        background: white;
        border-radius: 20px;
        border: 5px solid;
    }

        .grid-container-introduction .item img {
            height: auto !important;
        }

    .grid-container-introduction .email {
        line-height: 1rem;
    }

    .grid-container-introduction iframe {
        width: 100% !important;
        min-height: 450px !important;
    }

    .grid-container-introduction img {
        max-width: 100% !important;
    }

.grid-container-main {
    display: grid;
    grid-template-columns: 60% 39%;
    grid-gap: 1em;
}

.grid-container-itinerary .element {
    display: grid;
    grid-template-columns: 70px auto;
    grid-gap: 10px;
    margin-bottom: 10px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px 30px 20px 15px;
}

    .grid-container-itinerary .element .sidebar .social-icon {
        padding: 20px 15px;
        font-size: 20px;
        margin: 5px 2px;
        min-width: 60px;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        background-color: grey;
    }

        .grid-container-itinerary .element .sidebar .social-icon:hover {
            opacity: 0.7;
        }

    .grid-container-itinerary .element .flight-item {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    .grid-container-itinerary .element .general-item {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    .grid-container-itinerary .element .cruise-item {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        font-weight: 300;
        line-height: 1.5em;
    }

    .grid-container-itinerary .element .cruise-information {
        grid-column: 1/span 2;
        font-weight: 300;
        line-height: 1.5em;
    }

    .grid-container-itinerary .element .cruise-itinerary {
        display: grid;
        grid-template-columns: 35px auto auto auto;
        font-size: small;
    }

    .grid-container-itinerary .element .day-item {
        text-align: center;
    }

    .grid-container-itinerary .element .itinerary-item {
        font-weight: 300;
        padding: 7px 10px;
        line-height: 2.5rem;
        border-bottom: 1px solid #e2e2e2;
    }

    .grid-container-itinerary .element .accommodation-item {
        width: 100%;
    }

        .grid-container-itinerary .element .accommodation-item h3 {
            font-weight: 300;
            font-size: 1.4em;
            margin: 0 0 10px 0;
        }

        .grid-container-itinerary .element .accommodation-item .item-details {
            grid-column: 1/span 2;
        }

        .grid-container-itinerary .element .accommodation-item .item {
            grid-column: 1/span 2;
        }

            .grid-container-itinerary .element .accommodation-item .item img {
                width: 100%;
                height: 100%;
            }

    .grid-container-itinerary .element .miscellaneous-item {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    .grid-container-itinerary .element .itinerary-notes {
        grid-column: 1/span 2;
        padding: 10px;
        width: 100%;
        font-weight: 300;
        line-height: 1.5em;
    }

    .grid-container-itinerary .element .item,
    .grid-container-itinerary .element .item-details {
        font-weight: 300;
        padding: 0 0 10px 0;
        line-height: 1.5rem;
    }

        .grid-container-itinerary .element .item i,
        .grid-container-itinerary .element .item-details i {
            font-size: 2rem;
            margin-top: 10px;
        }

.grid-container-itinerary .sidebar .icon-holder {
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
}

    .grid-container-itinerary .sidebar .icon-holder i {
        color: white;
    }

#Enquiry {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-container-enquiry {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: grey;
    color: white;
}

    .grid-container-enquiry .item {
        padding: 20px 10px;
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;
    }

        .grid-container-enquiry .item .enquiry-radio {
            width: 15px;
            height: 15px;
            opacity: 1;
            float: Left;
        }

        .grid-container-enquiry .item span {
            display: block;
            float: left;
            margin-top: 2px;
            margin-left: 20px;
        }

.grid-container-quote-details {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: right;
    line-height: 1.6rem;
    background-color: grey;
    color: white;
}

    .grid-container-quote-details .price {
        font-size: 1.8rem;
        line-height: 3rem;
    }

.grid-container-highlights {
    display: grid;
    grid-template-columns: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: grey;
    color: white;
}

    .grid-container-highlights ul {
        list-style-type: circle;
        margin: 0;
        line-height: 1.5rem;
    }

    .grid-container-highlights .highlights-title {
        font-size: 1.2rem;
    }

.enquiry-text-area {
    text-align: center;
}

    .enquiry-text-area textarea {
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        background-color: #F6F6F6;
        color: black;
        width: 430px;
        height: 100px;
        resize: none;
        border-radius: 10px;
        border: 0;
    }

.enquiry-button-area {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

    .enquiry-button-area input {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        background-color: grey;
        color: white;
        text-align: center;
        margin-top: 10px;
        border: 0;
        cursor: pointer;
    }

.grid-container-enquiry-confirmation {
    width: 100%;
    background-color: darkseagreen;
    color: white;
    padding: 15px;
    font-size: 1.3rem;
}

.grid-container-footer {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    border-top: 1px solid #CCC;
}

    .grid-container-footer .item {
        font-weight: 300;
        padding: 10px 0;
    }

.overview-inner, .title-inner {
    max-width: 960px;
    margin: 0 auto;
}

#Errata {
    width: 100%;
}

.image-gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

    .image-gallery .image-gallery-feature {
        grid-column: 1/span 4;
        min-width: 400px;
        width: 100%;
    }

    .image-gallery #expandedImg {
        width: 100%;
        max-height: 460px;
        object-fit: cover;
        object-position: center;
    }

    .image-gallery .image-gallery-thumbnail {
        height: 150px;
        max-height: 150px;
    }

        .image-gallery .image-gallery-thumbnail img {
            width: 100%;
            max-height: 150px;
            height: 150px;
            cursor: pointer;
            object-fit: cover;
            object-position: center;
        }

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

details {
    line-height: 1.5rem;
    font-weight: 300;
}

    details[open] > summary:after {
        content: "-";
    }

.tab {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tab-link {
    float: left;
    border: none;
    cursor: pointer;
    padding: 5px 3px;
    margin: 2px;
    flex: 1 1 100px;
}

    .tab-link:hover, .tab-link.active {
        background-color: #000;
        color: #FFF;
    }

.tab-content {
    display: none;
    padding: 10px;
    margin-top: 0px;
}

.cruise-section-image {
    width: 100%;
    max-width: 850px;
}

.miscellaneous-editor {
    width: 100% !important;
}

    .miscellaneous-editor p img {
        width: 100% !important;
        height: auto important;
    }

.itin-accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordion-pane {
    width: 100%;
    overflow: hidden;
}

.accordion-pane-label {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    background: #f2f2f2;
    margin-bottom: 3px;
    font-size: 0.9rem;
    color: #2980b9;
}

    .accordion-pane-label:hover {
        background: #CCC;
    }

    .accordion-pane-label::after {
        content: "❯";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
    }

.accordion-pane-content {
    max-height: 0;
    padding: 0 1em;
    transition: all 0.35s;
}

.accordion-pane-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
}

input:checked + .accordion-pane-label::after {
    transform: rotate(90deg);
}

input:checked ~ .accordion-pane-content {
    max-height: 100vh;
    padding: 1em;
}

.accommodation-gallery-grid-container {
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-gap: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.QuestionButton {
    border-radius: 10px !important;
}

.grid-container-slider {
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-gap: 10px;
    width: 100%;
}

    .grid-container-slider .nav {
        text-align: center;
        cursor: pointer;
    }

    .grid-container-slider .item h3 {
        font-size: 1.5rem;
    }

    .grid-container-slider .item img {
        width: 100%;
        cursor: pointer;
        margin-bottm: 10px;
    }

@media screen and (max-width: 900px) {
    .grid-container-header {
        grid-template-columns: repeat(1, 1fr);
    }

        .grid-container-header img {
            width: 100%;
            max-width: 100%;
        }

    .grid-container-overview {
        grid-template-columns: repeat(100%);
        display: grid;
        grid-column: 1/span 2;
        grid-gap: 10px;
        padding: 0;
        border-radius: 10px;
    }

        .grid-container-overview .item {
            grid-column: 1/span 2;
            text-align: center;
        }

    .grid-container-quote-header {
        grid-template-columns: 100%;
    }

        .grid-container-quote-header div {
            text-align: center !important;
        }

    .grid-container-social {
        grid-template-columns: 100%;
    }

    .grid-container-quote-details {
        text-align: center !important;
    }

    .grid-container-main {
        grid-template-columns: 100%;
    }

        .grid-container-main .element {
            height: auto !important;
            margin-top: 20px;
        }

    .HighlightColour {
        width: 100%;
        text-align: left;
    }

    .grid-container-title .details {
        padding-left: 10px;
    }

    .grid-container-footer .item {
        padding: 10px 5px;
    }

    .grid-container-social {
        grid-template-columns: repeat(1);
    }

        .grid-container-social .item {
            text-align: center;
        }

        .grid-container-social .functions {
            text-align: center;
        }

    .grid-container-itinerary {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        margin: 0 10px;
        height: auto !important;
    }

        .grid-container-itinerary .element {
            display: grid;
            grid-template-columns: 100%;
            grid-gap: 10px;
        }

            .grid-container-itinerary .element .cruise-item .cruise-detail {
                grid-column: 1/span 2;
            }

            .grid-container-itinerary .element .sidebar {
                padding: 0;
            }

            .grid-container-itinerary .element .flight {
                grid-column: 1/span 2;
            }

            .grid-container-itinerary .element .accommodation {
                grid-column: 1/span 2;
            }

            .grid-container-itinerary .element .accommodation-item {
                width: 100%;
            }

                .grid-container-itinerary .element .accommodation-item .item-details {
                    grid-column: 1/span 2;
                }

                .grid-container-itinerary .element .accommodation-item .item {
                    grid-column: 1/span 2;
                }

        .grid-container-itinerary .sidebar {
            text-align: center;
        }

    .side-details {
        padding: 10px;
    }

    #Enquiry {
        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .grid-container-enquiry {
        display: grid;
        grid-template-columns: 100%;
        padding: 10px 20px;
        margin-top: 10px;
    }

        .grid-container-enquiry .item {
            padding: 20px 10px;
            color: white;
            border-radius: 10px;
            margin-bottom: 10px;
        }

            .grid-container-enquiry .item .enquiry-radio {
                width: 15px;
                height: 15px;
                opacity: 1;
                float: Left;
            }

            .grid-container-enquiry .item span {
                display: block;
                float: left;
                margin-top: 2px;
                margin-left: 20px;
            }

    .header-container-avatar .details {
        font-size: 2rem;
        text-align: left;
        margin-right: 10px;
        margin-top: 5px;
        line-height: 2.4rem;
        font-weight: 200;
    }

    .image-gallery {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

        .image-gallery .image-gallery-feature {
            grid-column: 1/span 3;
            min-width: 100%;
            height: auto;
            max-height: 466px;
            width: 100%;
        }

        .image-gallery #expandedimg {
            width: 100%;
            max-height: 460px;
            object-fit: cover;
            object-position: center;
        }

        .image-gallery .image-gallery-thumbnail img {
            width: 100%;
            max-height: 150px;
            min-height: 150px;
            cursor: pointer;
            object-fit: cover;
            object-position: center;
        }

    .mySlides img {
        width: 300px;
    }
}

@media screen and (max-width: 650px) {
    #preview-logo {
        margin: 5px;
        width: 150px;
    }

    .enquiry-text-area {
        width: 100%;
    }

        .enquiry-text-area textarea {
            width: 85%;
        }

    #preview-banner {
        width: 100%;
    }

    .tab-link {
        width: 100%;
        margin-bottom: 5px;
    }

    .mySlides img {
        width: 250px;
    }

    .cruise-itinerary {
        display: grid;
        grid-template-columns: 40px auto auto auto;
        font-size: small;
        width: fit-content;
    }

        .cruise-itinerary > * {
            min-width: 0; /* ← REQUIRED for Safari to wrap */
            white-space: normal; /* allow word wrapping */
            word-break: break-word;
            font-size: smaller;
        }

        .cruise-itinerary .itinerary-item:nth-child(-n+4) {
            display: none;
        }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/PROJECTS/Vertical.Crm/Vertical.Crm.Web/Design/css/Quote/Base.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAS;AAET;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAOJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EAlCI;EAoCA;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAwBJ;EAtEI;EAwEA;;AAEA;EAfA,QAgB4B;;AAd5B;EACI;EACA;EACA;;AAcJ;EACI;EACA;;;AAIR;EApFI;EAsFA;;AAEA;EA7BA,QA8B4B;;AA5B5B;EACI;EACA;EACA;;AA4BJ;EACI;EACA;;;AAIR;EAlGI;EAoGA;;AAEA;EA3CA,QA4C4B;;AA1C5B;EACI;EACA;EACA;;AA0CJ;EAxDA,WAyD6B;EAxD7B;EACA;EACA,YAsD6C;EArD7C,aAqDqC;EApDrC;EAqDI;;;AAIR;EAhHI;EAkHA;;AAEA;EAlEA,WAmE6B;EAlE7B;EACA;EACA,YAgE6C;EA/D7C,aA+DqC;EA9DrC;EA+DI;;;AAIR;EA1HI;EA4HA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAIJ;EA/JI;EAiKA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAIR;EAjLI;EAmLA;EACA;;;AAGJ;EACI;;;AAGJ;EA3LI;EA6LA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;;AAIJ;EACI;EACA;EACA;;;AAuBZ;EAjPI;EAmPA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;;AA9BJ;EACI,SAgCuB;EA/BvB,WA+BiB;EA9BjB;EACA,WA6B6B;EA5B7B;EACA;EACA;EACA;EACA;;AAGJ;EACI;;AAsBJ;EACI;;;AAIR;EAxQI;EA0QA;EACA;;AAEA;EACI;;AA9CJ;EACI,SAgDuB;EA/CvB,WA+CiB;EA9CjB;EACA,WA6C4B;EA5C5B;EACA;EACA;EACA;EACA;;AAGJ;EACI;;;AAuCR;EApRI;EAsRA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAIR;EACI;;AAGJ;EACI;EACA;;AAGJ;EACI;;;AAIR;EArTI;EAuTA;EACA;;;AAOA;EA/TA;EAiUI;EACA;EACA;EACA;EACA;EACA;;AAtGJ;EACI,SA0G+B;EAzG/B,WAyGyB;EAxGzB;EACA,WAuG0C;EAtG1C;EACA;EACA;EACA;EACA;;AAGJ;EACI;;AAiGA;EA9UJ;EAgVQ;EACA;;AAGJ;EApVJ;EAsVQ;EACA;;AAGJ;EA1VJ;EA4VQ;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAIJ;EAAY;;AACZ;EACI;EACA;EACA;EACA;;AAGJ;EACI;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;;AAEA;EACI;EACA;;AAKZ;EA9YJ;EAgZQ;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;AAAA;EAEI;EACA;EACA;;AAEA;AAAA;EACI;EACA;;AAKZ;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;;;AAWZ;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EApcI;EAscA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AAKZ;EAneI;EAqeA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;;AAIR;EApfI;EAsfA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;;AAGJ;EACI;;;AAIR;EACI;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAIR;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAIR;EACI;EACA;EACA;EACA;EACA;;;AAIJ;EArjBI;EAujBA;EACA;EACA;;AAEA;EACI;EACA;;;AAIR;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EA1kBI;EA4kBA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;;AAKZ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAIJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;AAKI;EACI;EACA;;;AAMZ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAMA;EACI;;AAIR;EACI;EACA;;;AAaR;EACI;EACA;EACA;EACA;EACA;EACA;;;AAMJ;EACI;;;AAKJ;EAxBI;EA0BA;EACA;EACA;;AAGA;EACI;EACA;;AAKA;EACI;;AAGJ;EACI;EACA;EACA;;;AAUZ;EACI;IACI;;EAEA;IACI;IACA;;EAIR;IACI;IAlEJ;IAoEI;IACA;IACA;IACA;;EAEA;IACI;IACA;;EAKR;IACI;;EAEA;IACI;;EAIR;IACI;;EAIJ;IACI;;EAKJ;IACI;;EAEA;IACI;IACA;;EAIR;IACI;IACA;;EAIA;IACI;;EAKJ;IACI;;EAIR;IACI;;EAEA;IACI;;EAGJ;IACI;;EAKR;IA1IA;IA4II;IACA;IACA;IACA;;EAGA;IAlJJ;IAoJQ;IACA;;EAGI;IACI;;EAIR;IACI;;EAGJ;IACI;;EAGJ;IACI;;EAGJ;IACI;;EAEA;IACI;;EAGJ;IACI;;EAKZ;IACI;;EAIR;IACI;;EAGJ;IACI;IACA;IACA;IACA;IACA;;EAGJ;IAvMA;IAyMI;IACA;IACA;;EAEA;IACI;IACA;IACA;IACA;;EAEA;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;EAMR;IACI;IACA;IACA;IACA;IACA;IACA;;EAIR;IA9OA;IAgPI;IACA;;EAEA;IACI;IACA;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;EAIA;IACI;IACA;IACA;IACA;IACA;IACA;;EAKZ;IACI;;;AAKR;EACI;IACI;IACA;;EAGJ;IACI;;EAGJ;IACI;;EAGJ;IACI;;EAGJ;IACI;IACA;;EAGJ;IACI;;EAGJ;IACI;IACA;IACA;IACA;;EAGH;IACG;IACA;IACA;IACA;;EAGJ;IACI%22%7D */
